# Artificial Intelligence Final Project

## Importing Libraries

In [15]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from dmba import regressionSummary
import pickle as pk
encoder = LabelEncoder()
pd.reset_option('display.max_rows')

## Importing Dataset

In [16]:
df = pd.read_csv('Salary.csv')
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race,Senior
0,32.0,Male,1,Software Engineer,5.0,90000.0,UK,White,0
1,28.0,Female,2,Data Analyst,3.0,65000.0,USA,Hispanic,0
2,45.0,Male,3,Manager,15.0,150000.0,Canada,White,1
3,36.0,Female,1,Sales Associate,7.0,60000.0,USA,Hispanic,0
4,52.0,Male,2,Director,20.0,200000.0,USA,Asian,0
...,...,...,...,...,...,...,...,...,...
6679,49.0,Female,3,Director of Marketing,20.0,200000.0,UK,Mixed,0
6680,32.0,Male,0,Sales Associate,3.0,50000.0,Australia,Australian,0
6681,30.0,Female,1,Financial Manager,4.0,55000.0,China,Chinese,0
6682,46.0,Male,2,Marketing Manager,14.0,140000.0,China,Korean,0
6683,26.0,Female,0,Sales Executive,1.0,35000.0,Canada,Black,0

## Checking for Null Values

In [17]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
Country                0
Race                   0
Senior                 0
dtype: int64

## Printing out what the label encoder will change categorical values to

In [18]:
# Columns to encode
columns_to_encode = ['Gender', 'Job Title', 'Country', 'Race']

# Create a new DataFrame to store the original and encoded values
encoded_values_df = pd.DataFrame()

for column in columns_to_encode:
    encoded_values = encoder.fit_transform(df[column])
    encoded_values_df[column] = df[column]
    encoded_values_df[f'{column}_Encoded'] = encoded_values

# Getting unique combinations to see what values were encoded into
gender_encoded = encoded_values_df.groupby(['Gender', 'Gender_Encoded']).apply(lambda x: x.name)
job_title_encoded = encoded_values_df.groupby(['Job Title', 'Job Title_Encoded']).apply(lambda x: x.name)
country__encoded = encoded_values_df.groupby(['Country', 'Country_Encoded']).apply(lambda x: x.name)
race_encoded = encoded_values_df.groupby(['Race', 'Race_Encoded']).apply(lambda x: x.name)


encoded_values = gender_encoded, job_title_encoded, country__encoded, race_encoded

# Printing encoding results
pd.set_option('display.max_rows', None) 
for value in encoded_values:
    print(f'{value}\n')

Gender  Gender_Encoded
Female  0                 (Female, 0)
Male    1                   (Male, 1)
dtype: object

Job Title                         Job Title_Encoded
Account Executive                 0                                    (Account Executive, 0)
Account Manager                   1                                      (Account Manager, 1)
Accountant                        2                                           (Accountant, 2)
Administrative Assistant          3                             (Administrative Assistant, 3)
Advertising Coordinator           4                              (Advertising Coordinator, 4)
Back end Developer                5                                   (Back end Developer, 5)
Business Analyst                  6                                     (Business Analyst, 6)
Business Development Associate    7                       (Business Development Associate, 7)
Business Development Manager      8                         (Business Development Manager, 8)
Business Intelligence Analyst     9                        (Business Intelligence Analyst, 9)
Business Operations Analyst       10                        (Business Operations Analyst, 10)
CEO                               11                                                (CEO, 11)
Chief Data Officer                12                                 (Chief Data Officer, 12)
Chief Technology Officer          13                           (Chief Technology Officer, 13)
Consultant                        14                                         (Consultant, 14)
Content Marketing Manager         15                          (Content Marketing Manager, 15)
Copywriter                        16                                         (Copywriter, 16)
Creative Director                 17                                  (Creative Director, 17)
Customer Service Manager          18                           (Customer Service Manager, 18)
Customer Service Rep              19                               (Customer Service Rep, 19)
Customer Service Representative   20                    (Customer Service Representative, 20)
Customer Success Manager          21                           (Customer Success Manager, 21)
Customer Success Rep              22                               (Customer Success Rep, 22)
Customer Support Specialist       23                        (Customer Support Specialist, 23)
Data Analyst                      24                                       (Data Analyst, 24)
Data Engineer                     25                                      (Data Engineer, 25)
Data Entry Clerk                  26                                   (Data Entry Clerk, 26)
Data Scientist                    27                                     (Data Scientist, 27)
Delivery Driver                   28                                    (Delivery Driver, 28)
Designer                          29                                           (Designer, 29)
Developer                         30                                          (Developer, 30)
Digital Content Producer          31                           (Digital Content Producer, 31)
Digital Marketing Manager         32                          (Digital Marketing Manager, 32)
Digital Marketing Specialist      33                       (Digital Marketing Specialist, 33)
Director                          34                                           (Director, 34)
Director of Business Development  35                   (Director of Business Development, 35)
Director of Data Science          36                           (Director of Data Science, 36)
Director of Engineering           37                            (Director of Engineering, 37)
Director of Finance               38                                (Director of Finance, 38)
Director of HR                    39                                     (Director of HR, 39)
Director of Human Capital         40                          (Director of Human Capital, 40)
Director of Human Resources       41                        (Director of Human Resources, 41)
Director of Marketing             42                              (Director of Marketing, 42)
Director of Operations            43                             (Director of Operations, 43)
Director of Product Management    44                     (Director of Product Management, 44)
Director of Sales                 45                                  (Director of Sales, 45)
Director of Sales and Marketing   46                    (Director of Sales and Marketing, 46)
Engineer                          47                                           (Engineer, 47)
Event Coordinator                 48                                  (Event Coordinator, 48)
Financial Advisor                 49                                  (Financial Advisor, 49)
Financial Analyst                 50                                  (Financial Analyst, 50)
Financial Manager                 51                                  (Financial Manager, 51)
Front End Developer               52                                (Front End Developer, 52)
Front end Developer               53                                (Front end Developer, 53)
Full Stack Engineer               54                                (Full Stack Engineer, 54)
Graphic Designer                  55                                   (Graphic Designer, 55)
HR Coordinator                    56                                     (HR Coordinator, 56)
HR Generalist                     57                                      (HR Generalist, 57)
HR Manager                        58                                         (HR Manager, 58)
HR Specialist                     59                                      (HR Specialist, 59)
Help Desk Analyst                 60                                  (Help Desk Analyst, 60)
Human Resources Coordinator       61                        (Human Resources Coordinator, 61)
Human Resources Director          62                           (Human Resources Director, 62)
Human Resources Manager           63                            (Human Resources Manager, 63)
Human Resources Specialist        64                         (Human Resources Specialist, 64)
IT Consultant                     65                                      (IT Consultant, 65)
IT Manager                        66                                         (IT Manager, 66)
IT Project Manager                67                                 (IT Project Manager, 67)
IT Support                        68                                         (IT Support, 68)
IT Support Specialist             69                              (IT Support Specialist, 69)
Juniour HR Coordinator            70                             (Juniour HR Coordinator, 70)
Juniour HR Generalist             71                              (Juniour HR Generalist, 71)
Manager                           72                                            (Manager, 72)
Marketing Analyst                 73                                  (Marketing Analyst, 73)
Marketing Coordinator             74                              (Marketing Coordinator, 74)
Marketing Director                75                                 (Marketing Director, 75)
Marketing Manager                 76                                  (Marketing Manager, 76)
Marketing Specialist              77                               (Marketing Specialist, 77)
Network Engineer                  78                                   (Network Engineer, 78)
Office Manager                    79                                     (Office Manager, 79)
Operations Analyst                80                                 (Operations Analyst, 80)
Operations Coordinator            81                             (Operations Coordinator, 81)
Operations Director               82                                (Operations Director, 82)
Operations Manager                83                                 (Operations Manager, 83)
Principal Engineer                84                                 (Principal Engineer, 84)
Principal Scientist               85                                (Principal Scientist, 85)
Product Designer                  86                                   (Product Designer, 86)
Product Development Manager       87                        (Product Development Manager, 87)
Product Manager                   88                                    (Product Manager, 88)
Product Marketing Manager         89                          (Product Marketing Manager, 89)
Project Coordinator               90                                (Project Coordinator, 90)
Project Engineer                  91                                   (Project Engineer, 91)
Project Manager                   92                                    (Project Manager, 92)
Public Relations Manager          93                           (Public Relations Manager, 93)
Quality Assurance Analyst         94                          (Quality Assurance Analyst, 94)
Receptionist                      95                                       (Receptionist, 95)
Recruiter                         96                                          (Recruiter, 96)
Research Director                 97                                  (Research Director, 97)
Research Scientist                98                                 (Research Scientist, 98)
Researcher                        99                                         (Researcher, 99)
Sales Associate                   100                                  (Sales Associate, 100)
Sales Director                    101                                   (Sales Director, 101)
Sales Executive                   102                                  (Sales Executive, 102)
Sales Manager                     103                                    (Sales Manager, 103)
Sales Operations Manager          104                         (Sales Operations Manager, 104)
Sales Representative              105                             (Sales Representative, 105)
Scientist                         106                                        (Scientist, 106)
Social Media Man                  107                                 (Social Media Man, 107)
Social Media Manager              108                             (Social Media Manager, 108)
Social Media Specialist           109                          (Social Media Specialist, 109)
Software Architect                110                               (Software Architect, 110)
Software Developer                111                               (Software Developer, 111)
Software Engineer                 112                                (Software Engineer, 112)
Software Engineer Manager         113                        (Software Engineer Manager, 113)
Software Manager                  114                                 (Software Manager, 114)
Software Project Manager          115                         (Software Project Manager, 115)
Strategy Consultant               116                              (Strategy Consultant, 116)
Supply Chain Analyst              117                             (Supply Chain Analyst, 117)
Supply Chain Manager              118                             (Supply Chain Manager, 118)
Technical Recruiter               119                              (Technical Recruiter, 119)
Technical Support Specialist      120                     (Technical Support Specialist, 120)
Technical Writer                  121                                 (Technical Writer, 121)
Training Specialist               122                              (Training Specialist, 122)
UX Designer                       123                                      (UX Designer, 123)
UX Researcher                     124                                    (UX Researcher, 124)
VP of Finance                     125                                    (VP of Finance, 125)
VP of Operations                  126                                 (VP of Operations, 126)
Web Designer                      127                                     (Web Designer, 127)
Web Developer                     128                                    (Web Developer, 128)
dtype: object

Country    Country_Encoded
Australia  0                  (Australia, 0)
Canada     1                     (Canada, 1)
China      2                      (China, 2)
UK         3                         (UK, 3)
USA        4                        (USA, 4)
dtype: object

Race              Race_Encoded
African American  0               (African American, 0)
Asian             1                          (Asian, 1)
Australian        2                     (Australian, 2)
Black             3                          (Black, 3)
Chinese           4                        (Chinese, 4)
Hispanic          5                       (Hispanic, 5)
Korean            6                         (Korean, 6)
Mixed             7                          (Mixed, 7)
Welsh             8                          (Welsh, 8)
White             9                          (White, 9)
dtype: object

## Using Label Encoder to Change Categorical Columns to Numerical

In [19]:
pd.reset_option('display.max_rows')
label_encoder_map = {}

# Categorical columns to encode
columns_to_encode = ['Gender', 'Job Title', 'Country', 'Race']

# Empty dataframe that we'll fill with encoded values
encoded_df = pd.DataFrame()

df_copy = df.copy()
df_encoded_labels = df_copy.copy()

for i in range(len(columns_to_encode)):
    labels = df_copy[columns_to_encode[i]].astype('category').cat.categories.tolist()
    replace_map_comp = {columns_to_encode[i] : {k :v for k, v in zip( labels, list(range(0, len(labels))))}}

    # each replace map is for a column and is added to the total data encoder map
    label_encoder_map.update(replace_map_comp)
    # replace the data with the encoded values according the our map
    df_encoded_labels.replace(replace_map_comp, inplace=True)

for col in columns_to_encode:
    encoded_values = encoder.fit_transform(df[col])
    
    # Creating the new "encoded" column in the dataframe
    encoded_df[col + '_Encoded'] = encoded_values

# Concatenating the original DataFrame and the encoded DataFrame created above
df = pd.concat([df, encoded_df], axis=1)
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race,Senior,Gender_Encoded,Job Title_Encoded,Country_Encoded,Race_Encoded
0,32.0,Male,1,Software Engineer,5.0,90000.0,UK,White,0,1,112,3,9
1,28.0,Female,2,Data Analyst,3.0,65000.0,USA,Hispanic,0,0,24,4,5
2,45.0,Male,3,Manager,15.0,150000.0,Canada,White,1,1,72,1,9
3,36.0,Female,1,Sales Associate,7.0,60000.0,USA,Hispanic,0,0,100,4,5
4,52.0,Male,2,Director,20.0,200000.0,USA,Asian,0,1,34,4,1

In [20]:
df_encoded_labels

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race,Senior
0,32.0,1,1,112,5.0,90000.0,3,9,0
1,28.0,0,2,24,3.0,65000.0,4,5,0
2,45.0,1,3,72,15.0,150000.0,1,9,1
3,36.0,0,1,100,7.0,60000.0,4,5,0
4,52.0,1,2,34,20.0,200000.0,4,1,0
...,...,...,...,...,...,...,...,...,...
6679,49.0,0,3,42,20.0,200000.0,3,7,0
6680,32.0,1,0,100,3.0,50000.0,0,2,0
6681,30.0,0,1,51,4.0,55000.0,2,4,0
6682,46.0,1,2,76,14.0,140000.0,2,6,0
6683,26.0,0,0,102,1.0,35000.0,1,3,0

## Pickle ( serialize ) the label encoder

In [21]:
pk.dump(label_encoder_map, open("label_encoder_map.pkl", "wb"))

## Splitting Target and Features

In [22]:
# Target
y = df['Salary']

# Features - Only selecting the encoded features
X = df.drop(columns=['Gender', 'Job Title', 'Country', 'Race', 'Salary'])
X

,Age,Education Level,Years of Experience,Senior,Gender_Encoded,Job Title_Encoded,Country_Encoded,Race_Encoded
0,32.0,1,5.0,0,1,112,3,9
1,28.0,2,3.0,0,0,24,4,5
2,45.0,3,15.0,1,1,72,1,9
3,36.0,1,7.0,0,0,100,4,5
4,52.0,2,20.0,0,1,34,4,1
...,...,...,...,...,...,...,...,...
6679,49.0,3,20.0,0,0,42,3,7
6680,32.0,0,3.0,0,1,100,0,2
6681,30.0,1,4.0,0,0,51,2,4
6682,46.0,2,14.0,0,1,76,2,6
6683,26.0,0,1.0,0,0,102,1,3

## Splitting into Testing and Training Data

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

## Defining and Fitting the Model

In [24]:
model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

## Running Model

In [25]:
# Predicting values based on testing data
y_pred = model.predict(X_test)
# print(model.feature_importances_)
print(f'\nFeature Importances:\nAge: {model.feature_importances_[0]}\nEducation Level: {model.feature_importances_[1]}\nYears of Experience: {model.feature_importances_[2]}\nSenior: {model.feature_importances_[3]}\nGender: {model.feature_importances_[4]}\nJob Title: {model.feature_importances_[5]}\nCountry: {model.feature_importances_[6]}\nRace: {model.feature_importances_[7]}')

Feature Importances:
Age: 0.06040109837383981
Education Level: 0.027667018429787957
Years of Experience: 0.7491370192157726
Senior: 0.006177174824399418
Gender: 0.006750787323944963
Job Title: 0.1418232602695317
Country: 0.003480678804274986
Race: 0.00456296275844858

## Assesing Performance and Results of the Model

In [26]:
# Comparing to actual values to predicted values
y_pred = np.round(y_pred, 0)
df2 = pd.DataFrame({'Age': X_test['Age'], 'Education Level': X_test['Education Level'], 'Years of Experience': X_test['Years of Experience'], 'Senior': X_test['Senior'],'Gender': X_test['Gender_Encoded'], 
                    'Job Title': X_test['Job Title_Encoded'],'Country': X_test['Country_Encoded'], 'Race': X_test['Race_Encoded'], 'Actual Salary': y_test , 'Predicted Salary': y_pred, 'Difference': abs(y_test - y_pred)})
df2

,Age,Education Level,Years of Experience,Senior,Gender,Job Title,Country,Race,Actual Salary,Predicted Salary,Difference
6220,32.0,1,7.0,0,1,88,0,1,120000.0,120000.0,0.0
3746,27.0,1,3.0,0,1,112,3,1,60000.0,82094.0,22094.0
3559,30.0,0,2.0,0,1,56,3,7,33000.0,33220.0,220.0
729,29.0,2,6.0,0,0,27,0,1,180000.0,175762.0,4238.0
6682,46.0,2,14.0,0,1,76,2,6,140000.0,146250.0,6250.0
...,...,...,...,...,...,...,...,...,...,...,...
2346,30.0,1,5.0,0,0,112,0,1,90000.0,89900.0,100.0
326,38.0,1,10.0,1,0,6,2,9,110000.0,110810.0,810.0
1524,28.0,1,2.0,0,1,53,3,7,70000.0,69900.0,100.0
5845,26.0,1,2.0,0,1,86,3,9,55000.0,51800.0,3200.0
2396,57.0,3,33.0,0,0,113,2,6,191790.0,189764.0,2026.0

In [27]:
# Presenting regression statistics
regressionSummary(y_test, y_pred)

Regression statistics

                      Mean Error (ME) : -688.5632
       Root Mean Squared Error (RMSE) : 7809.7043
            Mean Absolute Error (MAE) : 3537.0987
          Mean Percentage Error (MPE) : -9.1521
Mean Absolute Percentage Error (MAPE) : 11.4086

## Pickle the Model

In [28]:
pk.dump(model, open("model.pkl", "wb"))